<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by change for martin 2: martin 3 martin 4</div>
      <div class="text-center">
        <h3>@Martin2 second change third changemartin 3</h3>
      </div>

      <div class="text-center">@ms</div>
      <div class="text-center">
        <a href="https://www.youtube.com/@deborah_kurata">YouTube Channel 3rd change martin3</a>
      </div>
    </div>
  </div>
</div>